<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://oac4m5o5r.bkt.clouddn.com/zssq2.25.1.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://oac4m5o5r.bkt.clouddn.com/Icon@2x.png</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://oac4m5o5r.bkt.clouddn.com/Icon@2x.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.ifmoc.ZhuiShuShenQi</string>
<key>bundle-version</key>
<string>6.3.16</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>追书神器2.25.1</string>
<key>title</key>
<string>追书神器2.25.1</string>
</dict>
</dict>
</array>
</dict>
</plist>
